
<h3 class="page-header">Active file name: {{activeFile ? activeFile.name : '-'}}</h3>
<span *ngIf="showBackButton" class="text-center">
	<p>This file might have been deleted.</p>
	<p *ngIf="!activeFile" class="text-center">
		<button type="button" class="btn small-btn" (click)="prevFile()">Go back</button> to previous file.
	</p>
</span>

<app-preview-editor
	*ngIf="activeFile"
	[imgUrl]="activeFile.base64"
	[links]="linksOnActiveFile"
	(onLinkAreaClicked)="changeActiveFile($event)"
></app-preview-editor>

<div *ngIf="!files.length" class="col-12 text-center">
	<h4 class="page-header">No files have been uploaded yet...</h4>
	<a [routerLink]="'../files-add'">Upload files</a>
</div>
