// Color Variables | Named with this: http://chir.ag/projects/name-that-color

// Grayscale colors
$white:    #fff;
$gallery:  #F0F0F0;
$mercury:  #e3e3e3;
$paleSlate: #bdbabb;
$scorpion: #646060;
$black:    #000;


// Theme colors
$tiaMaria: #c64a0c;
$seaGreen: #319960;
$viking: #60ddcc;


// Theming demo
$theme: #4C4F99;
$theme-accent: #D0E567;
$theme-background: #F9F8F8;
$theme-text: #272838;
$theme-focus: #AAC134;
$theme-error: #EA7462;
$theme-muted: #7E7F9A;
$theme-light: #fff;


//// Theming
//$theme: $paleSlate;
//$theme-accent: $viking;
//$theme-background: $white;
//$theme-text: $scorpion;
//$theme-focus: $seaGreen;
//$theme-error: $tiaMaria;
//$theme-muted: $mercury;
//$theme-light: $white;


// Form colors
$input-default: $theme;
$input-valid: $theme-accent;
$input-focus: $theme-focus;
$input-invalid: $theme-error;
$input-disabled: $theme-muted;
