// Color Variables | Named with this: http://chir.ag/projects/name-that-color


// Grayscale colors
$white:    #fff;
$gallery:  #F0F0F0;
$mercury:  #e3e3e3;
$paleSlate: #bdbabb;
$scorpion: #646060;
$black:    #000;

// Theme colors
$crusta: #ff812d;
$viking: #60ddcc;


// Theming
$theme: $paleSlate;
$theme-accent: $paleSlate;

$theme-background: $white;
$theme-text: $scorpion;
$theme-button: $mercury;

$theme-focus: $viking;
$theme-error: $mercury;
$theme-muted: $mercury;



// Form colors
$input-default: $theme-accent;
$input-focus: $theme-focus;
$input-valid: $theme-text;
$input-invalid: $theme-error;
$input-disabled: $theme-muted;

// Button colors 
$btn-submit: $theme-accent;


