

<form [formGroup]="projectDetailForm" (ngSubmit)="submitProjectDetailForm()" class="form detail-form">
	<h3 class="form-title">Edit Project Details</h3>
	<div class="form-group">
		<label class="form-group-label">Project name</label>
		<input class="form-input" type="text" formControlName="name">
	</div>
	<div class="form-group">
		<label class="form-group-label">Description</label>
		<input class="form-input" type="text" formControlName="description">
	</div>
	<p class="form-error" *ngIf="projectDetailForm.errors">{{projectDetailForm.errors.message}}</p>
	<button type="submit" class="btn success-btn form-btn">Save</button>
</form>
