// Font imports
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap&subset=greek,greek-ext');


// Font declarations
body {
    font-family: 'Open Sans', sans-serif;
}



// Typography rules

// Example
.text-error {
    color: $theme-error;
}
.text-maincolor {
    color: $theme-text;
}

