
<div class="row">

	<div class="col-2 aside-menu">
		<ul class="vertical-menu">
			<li class="menu-item">
				<h3>My project name</h3>
			</li>
			<li><hr></li>
			<li class="menu-item">
				<a>Preview Flow</a>
			</li>
			<li class="menu-item">
				<a>Edit Flow</a>
			</li>
			<li><hr></li>
			<li class="menu-item">
				<a>Inspect Files</a>
			</li>
			<li class="menu-item">
				<a>Upload Files</a>
			</li>
			<li><hr></li>
			<li class="menu-item">
				<a>Edit Project Details</a>
			</li>
			<li class="menu-item">
				<a>Delete Project</a>
			</li>
		</ul>
	</div>

	<div class="col-9">

	</div>

</div>


