
<div class="row">

	<div class="col-2 aside-menu">
		<ul class="vertical-menu">
			<li class="menu-item">
				<h3>My project name</h3>
			</li>
			<li><hr></li>
			<li class="menu-item">
				<a [routerLink]="['flow-preview']">
					Preview Flow
				</a>
			</li>
			<li class="menu-item">
				<a [routerLink]="['flow-edit']">
					Edit Flow
				</a>
			</li>
			<li><hr></li>
			<li class="menu-item">
				<a [routerLink]="['files-inspect']">
					Inspect Files
				</a>
			</li>
			<li class="menu-item">
				<a [routerLink]="['files-add']">
					Upload Files
				</a>
			</li>
			<li><hr></li>
			<li class="menu-item">
				<a [routerLink]="['edit']">
					Edit Project Details
				</a>
			</li>
			<li class="menu-item">
				<a [routerLink]="['delete']">
					Delete Project
				</a>
			</li>
			<li><hr></li>
		</ul>
	</div>

	<div class="col-9">
		<router-outlet></router-outlet>
	</div>

</div>


