
<div class="row">

	<div class="col-2 aside-menu">
		<ul class="vertical-menu">
			<li class="menu-item">
				<h3>{{projectName}}</h3>
			</li>
			<li><hr></li>
			<li class="menu-item">
				<a [routerLink]="['flow-preview']" routerLinkActive="route-active">
					Preview Flow
				</a>
			</li>
			<li class="menu-item">
				<a [routerLink]="['flow-edit']" routerLinkActive="route-active">
					Edit Flow
				</a>
			</li>
			<li><hr></li>
			<li class="menu-item">
				<a [routerLink]="['files-inspect']" routerLinkActive="route-active">
					Inspect Files
				</a>
			</li>
			<li class="menu-item">
				<a [routerLink]="['files-add']" routerLinkActive="route-active">
					Upload Files
				</a>
			</li>
			<li><hr></li>
			<li class="menu-item">
				<a [routerLink]="['edit']" routerLinkActive="route-active">
					Edit Project Details
				</a>
			</li>
			<li class="menu-item">
				<a [routerLink]="['delete']" routerLinkActive="route-active">
					Delete Project
				</a>
			</li>
			<li><hr></li>
		</ul>
	</div>

	<div class="col-10">
		<router-outlet></router-outlet>
	</div>

</div>


