// Buttons

.icon-btn {
    border: none;
    background: transparent;
}

.btn {
    border: none;
    color: $white;
	padding: 12px;
	border-radius: 4px;
	min-width: 200px;
	margin-top: 10px;
}

.small-btn {
	max-width: 100px;
}

.x-btn {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	border: 2px $gallery solid;
	text-align: center;
	i {
		color: $theme-text;
	}
}

.transparent-btn {
	padding: 5px 10px;
	border: 1px solid $theme-background;
	color: $theme-background;
	background: transparent;
	border-radius: 20px;
}

.toggle-btn {
	margin: 5px auto;
	border-radius: 10px;
	width: 40px;
	height: 20px;
	border: none;
	background-color: pink;
	position: relative;
	&::after {
		content: '';
		height: 26px;
		width: 26px;
		background-color: plum;
		position: absolute;
		border-radius: 50%;
		top: -3px;
		left: -3px;
	}
	&.on {
		&::after {
			left: unset;
			right: -3px;
		}
	}
}

.form-btn {
	background-color: $theme-focus;
}

.info-btn {
	background-color: $theme-accent;
}

.danger-btn {
	background-color: $theme-error;
}
