// Buttons

.icon-btn {
    border: none;
    background: transparent;
}

.form-btn {
    background-color: $btn-submit;
    min-width: 200px;
    border: none;
    color: $white;
    padding: 10px;
}

.x-btn {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	border: 2px $gallery solid; 
	text-align: center;
	i {
		color: $theme-text;
	}
}

.transparent-btn {
	padding: 5px 10px;
	border: 1px solid $theme-background;
	color: $theme-background;
	background: transparent;
	border-radius: 20px;
}