

.canvas-container {
	position: relative;

	.canvas-background {
		position: absolute;
		top: 0;
		left: 0;
	
		pointer-events: none;
	}

	canvas {
		position: absolute;
		top: 0;
		left: 0;
	

		border: $border-width solid $mercury;
	}
}


