// file uploader

.dropzone {
	display: flex;
	align-items: center;
	justify-content: center;
	//flex-direction: column;
	min-height: 100px;
	border: 2px dashed $theme-focus;
	border-radius: 5px;
	background-color: white;

	margin-bottom: 1rem;

	&.hovering {
		border: 2px solid $theme-accent;
		background-color: $mercury;
	}

	.file-label {
		font-size: 1.2em;
	}
}

progress::-webkit-progress-value {
	transition: width 0.1s ease;
}

.file-preview-container {
	max-height: 60vh;
	overflow-y: scroll;
}

.file-preview {
	height: 10vh;
	display: flex;
	align-items: baseline;
}

.file-preview-img {
	height: fill-available;
}
