// file uploader
.file-uploader-container {
	display: block;
	height: 100%;
}
.dropzone { 
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column; 
	font-weight: 200;
	height: 100%;
	border: 2px dashed $theme-accent;
	border-radius: 5px;
	background: white;
  
	&.hovering {
		border: 2px solid $theme-accent;
		color: #dadada !important;
	}
  
	.file-label {
		font-size: 1.2em;
	}
}
  
progress::-webkit-progress-value {
	transition: width 0.1s ease;
}

.file-preview {
	height: 300px;
	width: 300px;
	overflow: hidden;
}