// file uploader

.dropzone {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-weight: 200;
	height: 100%;
	min-height: 100px;
	border: 2px dashed $theme-focus;
	border-radius: 5px;
	background: white;

	&.hovering {
		border: 2px solid $theme-accent;
		color: $theme-background !important;
	}

	.file-label {
		font-size: 1.2em;
	}
}

progress::-webkit-progress-value {
	transition: width 0.1s ease;
}

.file-preview-container {
	max-height: 60vh;
	overflow-y: scroll;
}

.file-preview {
	height: 10vh;
	width: 300px;
	overflow: hidden;
}
