// Forms and form inputs styling

.form {
	display: flex;
	flex-direction: column;
	color: $theme-text;

	.form-group {
		label {
			display: block;
			margin-bottom: 0.3em;
		}
		input, 
		select { 
			display: block;
			margin-bottom: 0.3em;
			padding: 10px;
			margin-bottom: 0.3em;
			line-height: 1.2em;
		}
		.select {
			border-radius: 0 !important;
			border: 1px solid $mercury;
		}
		
	}

	button[type="submit"] {
	   background-color: $btn-submit;
	   color: $theme-background;
	   margin-top: 0.4em;
    }
	
}

.form-container {
	padding: 20px;
	// margin: 30px;
	border: 1px $gallery solid;
	position: relative;
	.x-btn {
		position: absolute;
		top: -15px;
    	right: -15px;
    	background-color: $white;
	}
}



.login-form {
	margin-top: 10vh;
    display: flex;
    flex-direction: column; 
	align-items: center;
	
    .form-group {
        margin-bottom: 2em;
        min-width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        label {
            text-transform: uppercase !important;
            letter-spacing: 0.5em;
            font-size: 0.8em;
        }
        input {
            border: none;
            border-bottom: 2px solid $input-default;
            line-height: 2.5em;
            // TODO: make text vertical align: bottom
            // TODO: add color transition
            &:focus {
                border-bottom: 2px solid $input-focus;
            }
        }
    }
    button {
        text-transform: uppercase;
        letter-spacing: 0.25em;
    }
}

.img-preview {
    max-height: 200px;
}

.form-container {
	padding: 20px;
	margin: 30px;
	border: 1px $gallery solid;

	position: relative;
	.x-btn {
		position: absolute;
		top: -15px;
    	right: -15px;
    	background-color: $white;
	}
}

.detail-form {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.form-group-editable {
	width: 100%;
	display: flex;

	padding: 5px;
	margin-bottom: 5px;

	line-height: 1.1em;
	border: 1px solid $mercury;

	label{
		min-width: 110px;
		line-height: 1.1em;
		display: inline;
		vertical-align: middle;
	} 
	.form-input {
		line-height: 1.1em;
		width: 100%;
		border: none;
	}
	i { 
		height: 100%;
		color: $theme-muted;
	}

}
