
.selection-menu-container {
	position: absolute;
}

.selection-menu {
	// max-width: 200px;
	border: $border-width solid $mercury;
	background-color: $theme-background;
	.form-group {
		* {
			margin-bottom: 0.3em;
		}
	}
}