
<div class="flow-edit-page-container">
	<app-editor
		*ngIf="activeFile"
		[imgUrl]="activeFile.base64"
		[links]="showLinksOnActiveFile ? linksOnActiveFile : null"
		[isDrawModeOn]="!showLinksOnActiveFile"
		(onAreaSelected)="areaSelected($event)"
		(onCanvasCleared)="closeSelectionMenu()"
		(onLinkAreaClicked)="linkAreaClicked($event)"
	></app-editor>

	<div class="edit-flow-menu" #editFlowMenu>
		<div class="row actions-area">
			<div>
				<button
					type="button"
					[disabled]="!linksOnActiveFile.length"
					(click)="toggleLinkVisibility()"
					class="btn small-btn">
					{{showLinksOnActiveFile ? 'Hide Links' : 'Show links'}}
				</button>
				<button
					type="button"
					(click)="toggleMenuSize()"
					class="btn small-btn">
					{{isFileNavMini ? 'Maximize menu' : 'Minimize menu'}}
				</button>
			</div>

			<div *ngIf="showSelectionMenu">
				<form [formGroup]="createLinkForm" (ngSubmit)="onCreateLinkSubmit()">
					<div class="form-group">
						<label class="input-label">Link to:</label>
						<select class="form-input" formControlName="fileId">
							<ng-container *ngFor="let file of files">
								<option
									[value]="file.id"
									[disabled]="file.id === activeFile?.id"
								>{{file.name}}</option>
							</ng-container>
						</select>
					</div>
					<button type="submit" class="btn success-btn small-btn">Save</button>
					<button type="button" (click)="closeSelectionMenu()" class="btn danger-btn small-btn">Cancel</button>
				</form>
			</div>

			<div *ngIf="showEditLinkMenu">

			</div>

		</div>

		<div class="row navigator-area" >
			<div *ngIf="!files.length" class="col-12 text-center">
				<h4 class="page-header">No files have been uploaded yet...</h4>
				<a [routerLink]="'../files-add'">Upload files</a>
			</div>

			<div *ngFor="let file of files">
				<div (click)="changeActiveFile(file)" class="gallery-item small" [ngClass]="{'selected': activeFile?.id === file.id }">
					<div class="gallery-item-preview">
						<img [src]="file.base64" alt="File preview">
					</div>
					<div class="gallery-item-details">
						{{file.name}}
					</div>
				</div>
			</div>
		</div>
	</div>

</div>


