
<div class="flow-edit-page-container">
	<app-editor
		*ngIf="activeFile"
		[imgUrl]="activeFile.base64"
		(onAreaSelected)="areaSelected($event)"
	></app-editor>

	<div *ngIf="showSelectionMenu" class="selection-menu-container">
		<app-selection-menu [files]="files" (onSubmit)="saveLink($event)" (onClose)="closeSelectionMenu()"></app-selection-menu>
	</div>


	<div class="row navigator-area">
		<div *ngIf="!files.length" class="col-12 text-center">
			<h4 class="page-header">No files have been uploaded yet...</h4>
			<a [routerLink]="'../files-add'">Upload files</a>
		</div>

		<div *ngFor="let file of files">
			<div (click)="changeActiveFile(file)" class="gallery-item small" [ngClass]="{'selected': activeFile?.id === file.id }">
				<div class="gallery-item-preview">
					<img [src]="file.base64" alt="File preview">
				</div>
				<div class="gallery-item-details">
					{{file.name}}
				</div>
			</div>
		</div>
	</div>
</div>


