<h2 class="page-header">My Active Projects</h2>

<div class="flex-container">
	<div *ngFor="let project of projects" class="item-preview-container">
		<div class="item-preview" [ngStyle]="{'background-image': project.previewImage }">
		</div>
		<div class="item-actions">
			<button type="button" class="transparent-btn" (click)="navToProjectDetails(project)">View Project</button>
		</div>
		<div class="item-description">
			<label>{{project.name}}</label>
			<br>
			<p>{{project.description}}</p>
		</div>
	</div>

	<div class="item-preview-container create-new-item" [routerLink]="'new'">
		<i class="fa fa-plus"></i>
		<p>Create new project</p>
	</div>
</div>

