<nav class="nav">
	<a class="nav-brand" [routerLink]="['/home']">
		<app-lemon-pie-logo></app-lemon-pie-logo>
	</a>
	<ul class="nav-menu">
		<li class="nav-item">
			<a [routerLink]="['/home']" routerLinkActive="route-active">
				Home
			</a>
		</li>
		<li *ngIf="!currentUser" class="nav-item">
			<a [routerLink]="['/login']" routerLinkActive="route-active">
				Login
			</a>
		</li>
		<li *ngIf="!currentUser" class="nav-item">
			<a [routerLink]="['/register']" routerLinkActive="route-active">
				Register
			</a>
		</li>
		<li *ngIf="currentUser" class="nav-item">
			<a [routerLink]="['/projects']" routerLinkActive="route-active">
				Projects
			</a>
		</li>
		<li *ngIf="currentUser"  class="nav-item">
			<a [routerLink]="['/profile']" routerLinkActive="route-active">
				My Account
			</a>
		</li>
	</ul>
</nav>
