<nav>
	<a class="nav-brand" [routerLink]="['/home']">
		<app-lemon-pie-logo></app-lemon-pie-logo>
	</a>
	<ul class="nav-menu">
		<li class="nav-item">
			<a [routerLink]="['/home']">
				Home
			</a>
		</li>
		<li *ngIf="!currentUser" class="nav-item">
			<a [routerLink]="['/login']">
				Login
			</a>
		</li>
		<li *ngIf="currentUser" class="nav-item">
			<a [routerLink]="['/projects']">
				Projects
			</a>
		</li>
		<li *ngIf="currentUser"  class="nav-item">
			<a (click)="toggleBubbleMenu()">
				Hello, {{currentUser.username}}!
			</a>
		</li>
	</ul>
	<div class="bubble-menu" [ngClass]="{'visible':showBubbleMenu}">
		<ul>
			<li *ngIf="currentUser" (click)="toggleBubbleMenu()">
				<a [routerLink]="['/profile']">
					Profile
				</a>
			</li>
			<li>
				<a (click)="logout()">
					Logout
				</a>
			</li>
		</ul>
	</div>
</nav>
