<form [formGroup]="registerForm" (ngSubmit)="register()" class="login-form">
	<h2 class="form-title">Register</h2>
	<div class="form-group">
		<label>Email<app-star-badge></app-star-badge></label>
		<input type="text" formControlName="email">
	</div>
	<div class="form-group">
		<label>Username</label>
		<input type="text" formControlName="username" placeholder="How do your friends call you?">
	</div>
	<div class="form-group">
		<label>Role</label>
		<input type="text" formControlName="role" placeholder="What professional role best describes you?">
	</div>
	<br>
	<div class="form-group">
		<label>Password<app-star-badge></app-star-badge></label>
		<input type="password" formControlName="password">
	</div>
	<div class="form-group">
		<label>Confirm password<app-star-badge></app-star-badge></label>
		<input type="password" formControlName="confirmPassword">
	</div>
	<div class="form-group">
		<p>Fields marked with <app-star-badge></app-star-badge> are required</p>
	</div>
	<button type="submit" class="btn success-btn form-btn">Submit</button>
</form>
