<!-- <h2 class="page-header">page header</h2> -->

<div class="project-data-container">
		<h3>Project details</h3>

		<form [formGroup]="projectDetailForm" (ngSubmit)="savePojectDetailForm()" class="form detail-form">
			<div class="form-group form-group-editable">
				<label class="form-group-label">
					Name
				</label>
				<div class="form-input">
					<input formControlName="name" placeholder="Enter project name">
					<button class="form-group-button">
						<i class="fa fa-save" (click)="onSaveClicked(file)"></i>
					</button>
				</div>
			</div>

			<div class="form-group form-group-editable">
				<label class="form-group-label">
					Description
				</label>
				<div class="form-input">
					<textarea formControlName="description" placeholder="Enter project description"></textarea>
					<button class="form-group-button">
						<i class="fa fa-save" (click)="onSaveClicked(file)"></i>
					</button>
				</div>
			</div>
		</form>

		<h4>Upload more files</h4>
		<app-file-uploader [uploadPath]="project.id"></app-file-uploader>


</div>

<div class="project-files-container">
	<h3>Project files</h3>

	<ul class="file-list">
		<li *ngFor="let file of files">
			<app-file-list-item [file]="file" (onSave)="saveFile(file)" (onDelete)="delete(file)"
				(onEdit)="navToEdit(file)">
			</app-file-list-item>
		</li>
	</ul>
</div>