<h2 *ngIf="project" class="page-header">{{project.name}}</h2>

<div class="project-data-container">

	<div class="form detail-form">
		<h3 class="form-title">Files</h3>
		<ul class="file-list">
			<li *ngIf="!files.length" class="file-list-item">
				<p>No files have been uploaded yet</p>
			</li>

			<li *ngFor="let file of files">
				<app-file-list-item [file]="file" (onSave)="saveFile(file)" (onDelete)="delete(file)"
									(onEdit)="navToEdit(file)">
				</app-file-list-item>
			</li>

			<li *ngFor="let newfile of filesToUpload">
				File {{newfile.name}} is being uploaded ...
			</li>

		</ul>
	</div>

	<br><br>

	<div class="form detail-form">
		<h3 class="form-title">Upload more files</h3>
		<app-file-uploader (onFilesDrop)="uploadFiles($event)"></app-file-uploader>
	</div>

	<br><br>

	<button type="button" class="btn info-btn" (click)="navToPlay()">Preview Mode</button>


	<br><br>

	<form [formGroup]="projectDetailForm" (ngSubmit)="savePojectDetailForm()" class="form detail-form">
		<h3 class="form-title">Details</h3>
		<div class="form-group">
			<label class="form-group-label">Project name</label>
			<input class="form-input" type="text" formControlName="name">
		</div>
		<div class="form-group">
			<label class="form-group-label">Description</label>
			<input class="form-input" type="text" formControlName="description">
		</div>
		<button type="submit" class="btn success-btn form-btn">Update project details</button>
	</form>

	<br><br>

	<form [formGroup]="deleteProjectForm" (ngSubmit)="submitDeleteProjectForm()" class="form detail-form">
		<h3 class="form-title">Delete project</h3>
		<div class="form-note">
			<p>Warning! This action is irreversible!</p>
			<p>Please type in "<strong>I want to delete this project</strong>" to confirm.</p>
		</div>
		<div class="form-group">
			<label class="form-group-label">Security quote</label>
			<input class="form-input" type="text" formControlName="confirmDelete">
		</div>
		<button type="submit" class="btn success-btn form-btn">Delete this project</button>
	</form>


</div>
