<li class="file-list-item">

	<div class="page-preview" [ngStyle]="{'background-image': 'url(' +file.downloadURL+ ')' }"></div>

	<div class="item-description form">
		<div class="form-group">
			<label class="form-group-label">
				Page name
			</label>
			
			<div class="form-input">
				<input placeholder="Enter the name of this page to link it to another page">
				<button class="form-group-button">
					<i class="fa fa-save" (click)="onSaveClicked(file)"></i>
				</button>
			</div>
		</div>

	</div>


	<div class="form">
	
		<div class="form-group">
			<button type="button" class="form-group-button" (click)="onEditClicked(file)">
				<i class="fa fa-edit"></i>
				Open Flow Editor
			</button>
			</div>

		<div class="form-group">
			<button type="button" class="form-group-button" (click)="onDeleteClicked(file)">
				<i class="fa fa-trash"></i>				
				Delete page
			</button>
		</div>
		
	</div>

</li>