<li class="file-list-item">

	<div class="page-preview" [ngStyle]="{'background-image': 'url(' +file.downloadURL+ ')' }"></div>

	<form [formGroup]="fileItemForm" (ngSubmit)="saveFileItemForm()">
		<div class="form-group">
			<label class="form-group-label">Page name</label>
			<input
				class="form-input"
				type="text"
				formControlName="displayName"
				placeholder="A short declarative name would help..."
			>
		</div>
		<div class="flex-col-container item-actions">
			<button type="submit" class="btn success-btn form-btn">
				Update page name
			</button>

			<button type="button" class="btn danger-btn" (click)="onDeleteClicked(file)">
				Delete page
			</button>
		</div>
	</form>

</li>
