
.flow-edit-page-container {
	height: 100%;
	width: 100%;
	position: relative;
	background: url('assets/img/pixil-frame-0.png') repeat;
	overflow: hidden;
}

.edit-flow-menu {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	&.minified {
		.navigator-area {
			height: 0px;
		}
	}
}

.actions-area {
	background-color: $theme-light;
	justify-content: space-between;
	flex-direction: row-reverse;
	padding: 10px 20px;
	border-top: 1px #F0F0F0 solid;
	* {
		display: inline;
	}
	select {
		min-width: 9rem;
	}
	.btn {
		margin-left: 10px;
	}
}

.navigator-area {
	background-color: $theme-light;
	overflow-x: scroll;
	overflow-y: hidden;
	flex-flow: row nowrap;
	border-top: 1px #F0F0F0 solid;
	height: 188px;
	transition: height 0.5s ease-in-out;
}

