
.flow-edit-page-container {
	height: 100%;
	width: 100%;
	position: relative;
	background: url('assets/img/pixil-frame-0.png') repeat;
}

.editor-area {
	background: url('assets/img/pixil-frame-0.png') repeat;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 12rem;
	right: 0;
	overflow: scroll;
	* {
		transform: translateZ(1px);
	}
}

.navigator-area {
	background-color: $theme-light;
	position: absolute;
	height: 12rem;
	left: 0;
	bottom: 0;
	right: 0;
	overflow-x: scroll;
	overflow-y: hidden;

	flex-flow: row nowrap;
}
