.project-data-container {
	margin: 20px 5vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.project-files-container {
	margin: 20px 5vw;
}

.file-list {
	.file-list-item {
		margin-bottom: 20px;
		padding: 8px;
		display: flex;
		flex-direction: row;

		.page-preview {
			max-width: 200px;
			flex-grow: 2;
			background-color: $gallery;
			background-position: center;
			background-size: cover;
			border-radius: 3px;
			border: 1px $gallery solid;
		}
		.item-actions {
			display: flex;
			justify-content: flex-end;
			margin: 0px 5px 5px 5px;
			align-self: flex-end;
			.btn {
				margin-left: 10px;
			}
		}
	}

}
