.project-detail-container {
	height: 150px;
	margin: 20px 0;

	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: row;

	.container-1 {
		width: 30%;
		height: 100%;
	}

	.container-2 {
		width: 60%;
		height: 100%;
	}		
}