<div class="selection-menu form-container">
	<button type="button" (click)="close()" class="x-btn">
		<i class="fa fa-times"></i>
	</button>

	<form [formGroup]="linkToFileForm" (ngSubmit)="submitLinkToFileForm()" class="form detail-form">
		<div class="form-group">
			<label class="form-group-label">Link to:</label>
			<select class="select" formControlName="fileId">
				<ng-container *ngFor="let file of files">
					<option *ngIf="file.displayName" [value]="file.id">{{file.displayName}}</option>
				</ng-container>
			</select>
		</div>
		<button type="submit" class="btn success-btn form-btn">Save</button>
	</form>

</div>
