<div class="selection-menu-container form-container">
	<button type="button" (click)="close()" class="x-btn">
		<i class="fa fa-times"></i>
	</button>

	<form [formGroup]="linkToFileForm" (ngSubmit)="submitLinkToFileForm()" class="form"> 
		<div class="form-group">
			<label>Link to:</label>
			<select formControlName="fileId" class="select">
				<ng-container *ngFor="let file of files">
					<option *ngIf="file.name" [value]="file.id">{{file.name}}</option>
				</ng-container>
			</select>
		</div>
		<button type="submit" class="form-btn">Save</button>
	</form>

</div>
