<div class="selection-menu">

	<form [formGroup]="linkToFileForm" (ngSubmit)="submitLinkToFileForm()">
		<div class="form-group">
			<i class="fa fa-times" (click)="close()"></i>
		</div>
		<div class="form-group">
			<label class="form-group-label">Link to:</label>
			<select class="select" formControlName="fileId">
				<ng-container *ngFor="let file of files">
					<option
						[value]="file.id"
						[disabled]="file.id === activeFileId"
					>{{file.name}}</option>
				</ng-container>
			</select>
		</div>
		<div class="btn-group">
			<button type="submit" (click)="close()" class="btn danger-btn small-btn">Cancel</button>
			<button type="submit" class="btn success-btn small-btn">Save</button>
		</div>

	</form>

</div>
