


<form [formGroup]="uploadFilesForm" (ngSubmit)="submitUploadFilesForm()" class="form detail-form">
	<h3 class="form-title col-12">Upload Files</h3>

	<div dropzone class="dropzone col-12"
		 (hovered)="toggleHover($event)" (dropped)="onDrop($event)" [class.hovering]="isHovering">
		<h4>drop files here</h4>
	</div>


	<div class="row">
		<div class="col-4">
			<h4>Preview</h4>
		</div>
		<div class="col-8">
			<h4>Display name</h4>
		</div>
	</div>

	<ul class="file-preview-container" *ngIf="filesToPreview.length">
		<li class="file-list-item row" *ngFor="let file of filesToPreview">
			<img src="{{file.base64}}" alt="file preview" class="file-preview col-4">
			<div class="form-group col-7">
<!--				<label class="form-group-label">{{file}}</label>-->
				<input class="form-input" type="text" formControlName="displayName" placeholder="Enter a name for this file">
			</div>
			<div class="col-1">
				<i class="fas fa-trash"></i>
			</div>
		</li>

	</ul>


	<p class="form-error col-12" *ngIf="uploadFilesForm.errors">{{uploadFilesForm.errors.message}}</p>
	<button type="submit" class="btn success-btn form-btn">Save</button>
</form>
