<h2 class="page-header">My Profile</h2>

<div class="profile-page-container">

	<div class="text-center">
		<button type="button" class="btn danger-btn" (click)="logout()">Logout</button>
	</div>

	<br>

	<form [formGroup]="userDetailForm" (ngSubmit)="submitUserDetailForm()" class="form detail-form">
		<h3 class="form-title">User details</h3>
		<div class="form-group">
			<label class="input-label">Username</label>
			<div class="input-group">
				<input class="form-input" type="text" formControlName="username">
			</div>
		</div>
		<div class="form-group">
			<label class="input-label">Email</label>
			<div class="input-group">
				<input class="form-input" type="email" formControlName="email">
			</div>
		</div>
		<div class="form-group">
			<label class="input-label">Role</label>
			<div class="input-group">
				<input class="form-input" type="text" formControlName="role">
			</div>
		</div>
		<div class="form-group">
			<label class="input-label">Active projects</label>
			<div class="input-group">
				<input class="form-input" type="number" formControlName="projectsCount" disabled>
			</div>
		</div>
		<button type="submit" class="btn success-btn form-btn">Save</button>
	</form>

	<br>
	<br>

	<form [formGroup]="changePasswordForm" (ngSubmit)="submitChangePasswordForm()" class="form detail-form">
		<h3 class="form-title">Change Password</h3>
		<div class="form-group">
			<label class="input-label">Old Password</label>
			<div class="input-group">
				<input class="form-input" type="password" formControlName="oldPassword">
				<p class="form-inline-error"
				   *ngIf="changePasswordForm.get('oldPassword').touched && changePasswordForm.get('oldPassword').errors">
					{{ changePasswordForm.get('oldPassword').errors.required ? 'Field is required.' : '' }}
				</p>
			</div>
		</div>
		<div class="form-group">
			<label class="input-label">New Password</label>
			<div class="input-group">
				<input class="form-input" type="password" formControlName="password">
				<p class="form-inline-error"
				   *ngIf="changePasswordForm.get('password').touched && changePasswordForm.get('password').errors">
					{{ changePasswordForm.get('password').errors.minlength ? 'Password should be at least 6 characters.' : '' }}
					{{ changePasswordForm.get('password').errors.required ? 'Field is required.' : '' }}
				</p>
			</div>
		</div>
		<div class="form-group">
			<label class="input-label">Confirm password</label>
			<div class="input-group">
				<input class="form-input" type="password" formControlName="confirmPassword">
				<p class="form-inline-error"
				   *ngIf="changePasswordForm.get('confirmPassword').touched && changePasswordForm.errors && changePasswordForm.errors.comparePasswords">
					Passwords don't match.
				</p>
			</div>

		</div>
		<button type="submit" class="btn success-btn form-btn">Update Password</button>
	</form>

	<br>
	<br>


	<form [formGroup]="deleteAccountForm" (ngSubmit)="submitDeleteAccountForm()" class="form detail-form">
		<h3 class="form-title">Delete account</h3>
		<div class="form-note">
			<p>Warning! This action is irreversible!</p>
			<p>Please type in "<strong>I want to delete my account</strong>" to confirm.</p>
		</div>
		<div class="form-group">
			<label class="input-label">Security quote</label>
			<div class="input-group">
				<input class="form-input" type="text" formControlName="confirmDelete">
				<p class="form-inline-error"
				   *ngIf="deleteAccountForm.get('confirmDelete').touched && deleteAccountForm.get('confirmDelete').errors">
					{{ deleteAccountForm.get('confirmDelete').errors.required ? 'Field is required.' : '' }}
				</p>
			</div>

		</div>
		<button type="submit" class="btn success-btn form-btn">Delete my account</button>
	</form>

	<br>
	<br>
	<br>

</div>
