// Style all the menus


// Nav
nav {
    height: 50px;
    padding: 5px 20px;
    background-color: $white;
    box-shadow: 0px 1px 7px 1px rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-brand {
		.logo {
			transform: scale(0.4);
			display: inline-flex;     
		}
    }
    .nav-menu {
        display: flex;
        align-items: center;
	}
	.nav-item {
		margin-left: 20px;
	}
}

.bubble-menu {
    position: absolute;
    top: 50px;
    right: 30px;
    border: 1px solid $gallery;
	background-color: $theme-background;
    
    opacity: 0;
	pointer-events: none;
	
	li {
		margin: 10px;
		padding: 0.3em 1.1em;
		
		a {
			color: $theme-text;
			display: block;
			
			&:hover{
				color: $theme-accent;
			}
		}
	}


    &.visible {
        opacity: 1;
        pointer-events: all;
    }
}

// Aside
aside {
    position: absolute;
    top:0;
    bottom: 0;
    // TODO: use a function and a variable to customize aside menu position to right or left
    right: 0;
    background-color: $gallery;
    border-left: 1px $mercury;
    transition: width 0.1s;

    &.aside-menu-collapse {
        width: 50px;
    }
    &.aside-menu-expand {
        width: 400px;
    }
    .aside-menu-expand-btn {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 10px;
    }
}
