// Style all the menus


// Nav
nav {
    height: calc(#{$nav-height} - 10px);
    padding: 5px 20px;
    background-color: $theme-background;
    box-shadow: 0px 1px 7px 1px rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-brand {
		.logo {
			transform: scale(0.4);
			display: inline-flex;
			font-family: $font-handwritten;
		}
    }
    .nav-menu {
        display: flex;
        align-items: center;
	}
	.nav-item {
		margin-left: 20px;
	}
}

.bubble-menu {
    position: absolute;
    top: 50px;
    right: 30px;
    border: 1px solid $gallery;
	background-color: $theme-background;
    opacity: 0;
	pointer-events: none;
	li {
		margin: 10px;
		padding: 0.3em 1.1em;

		a {
			color: $theme-text;
			display: block;

			&:hover{
				color: $theme-accent;
			}
		}
	}


    &.visible {
        opacity: 1;
        pointer-events: all;
    }
}

// Aside
aside {
    position: absolute;
	width: $aside-width;
    top: calc(#{$nav-height} + 1px);
	bottom: 0;
	left: 0;
	background-color: $theme-background;
    box-shadow: 3px 7px 7px 1px rgba(0,0,0,0.2);

	.aside-menu {
		padding: 5px 20px;

		display: flex;
		justify-content: flex-start;
		flex-direction: column;

		.menu-item {
			margin-bottom: 30px;

			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: baseline;
			flex-grow: 1;
		}
	}

}
