<div class="home-hero">
	<h1 class="logo-text">Lemon Pie</h1>

	<div class="demo-video-container">
		<video width="800" controls poster="../../../assets/img/demo-poster.png">
			<source src="../../../assets/videos/LemonPie-demo.mp4" type="video/mp4">
			Your browser does not support HTML video.
		</video>
	</div>

</div>

<footer>
	<div class="footer-links">
		<span>v1.0.0</span>
		&nbsp;
		<app-star-badge></app-star-badge>
		&nbsp;
		<a href="https://github.com/teresaPap/lemon-pie" target="_blank">GitHub Repo</a>
	</div>
</footer>
