<div class="display-center">
	<h1>Lemon Pie</h1>
	<div class="lemon-outter">
		<div class="lemon-petal"></div>
		<div class="lemon-petal"></div>
		<div class="lemon-petal"></div>
		<div class="lemon-petal"></div>
		<div class="lemon-petal"></div>
	</div>
	<br>

	<p>Where possible, we would like to see mostlysage. should be limited to widely-supported elements only, or strong
		fallbacks should be provided. The CSS Zen Garden is about functional, practical <abbr
			title="Cascading Style Sheets">CSS</abbr> and not the latest bleeding-edge tricks viewable by 2% of the
		browsing public. The only real requirement we have is that your <abbr title="Cascading Style Sheets">CSS</abbr>
		validates.</p>
	<p>Luckily, designing this way shows how well various browsers have implemented <abbr
			title="Cascading Style Sheets">CSS</abbr> by now. When sticking to the guidelines you should see fairly
		consistent results across most modern browsers. Due to the sheer number of user agents on the web these days
		&#8212; especially when you factor in mobile &#8212; pixel-perfect layouts may not be possible across every
		platform. That&#8217;s okay, but do test in as many as you can. Your design should work in at least IE9+ and the
		latest Chrome, Firefox, iOS and Android browsers (run by over 90% of the population).</p>
	<p>We ask that you submit original artwork. Please respect copyright laws. Please keep objectionable material to a
		minimum, and try to incorporate unique and interesting visual themes to your work. We&#8217;re well past the
		point of needing another garden-related design.</p>
	<p>This is a learning exercise as well as a demonstration. You retain full copyright on your graphics (with limited
		exceptions, see <a href="http://www.mezzoblue.com/zengarden/submit/guidelines/">submission guidelines</a>), but
		we ask you release your <abbr title="Cascading Style Sheets">CSS</abbr> under a Creative Commons license
		identical to the <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/"
			title="View the Zen Garden's license information.">one on this site</a> so that others may learn from your
		work.</p>
</div>